/* Estilos base para tu etiqueta main y las tablas */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las tablas y el resumen de datos */
  align-items: flex-start;
  margin: 15px 0;
}

/* Estilos para el resumen de datos */
.resumen {
  width: 100%; /* Ocupa todo el ancho disponible */
  text-align: center; /* Centra el texto dentro del div resumen */
}

/* Estilos para las recomendaciones */
.recomendaciones {
  width: 100%;
  text-align: center;
}

/* Media queries para pantallas más pequeñas, como teléfonos */
@media (max-width: 768px) { /* 768px es un punto de quiebre común para dispositivos móviles */
  main {
    flex-direction: column; /* Esto apila los elementos verticalmente */
  }

  table {
    max-width: 100%;
  }
}

/* Estilo para los contenedores de las tablas */
#tabla1, #tabla2 {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea la tabla al inicio (parte superior) del contenedor div */
}
