/*--ACOMODANDO-MARGENES-PADDING--*/
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

/*--IMAGEN-DE-FONDO--------------*/
body{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 15px;
}

/*--FORMULARIO-------------------*/
.form{
    top: -50%;
    width: 450px;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    background: rgba(15, 50, 72, 0.3);
    border-radius: 5px;
}

/*--TITULO-----------------------*/
.titulo{
    color: #1d4169;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

/*--CAJAS-DE-DATOS---------------*/
.cajas{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    border-left: 10px solid #d9e4ea;
    transition: all .5s ease;
}

.cajas:hover, .cajas:focus{
    border-left: 10px solid #1a4c7e;
}

/*--TERMINOS-Y-CONDICIONES-------*/
.termino1{
    text-align: center;
    color: #3b3b3b;
}

.termino2{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.termino2:hover{
    color: #dbdbdb;
}

/*--BOTON-DE-REGISTRARSE---------*/
.btn{
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    border: none;
    margin: 10px 0;
    font-size: 15px;
    background: #225677;
    color: white;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 10px;
}

.btn:hover{
    background: #133043;
}

/*--YA-TENGO-CUENTA--------------*/
.tengo-cuenta{
    text-align: center;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.tengo-cuenta:hover{
    color: #dbdbdb;
}

#message {
    text-align: center;
    margin-bottom: 9px;
}

#contenido {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(15, 50, 72, 0.3);
    padding: 20px;
    text-align: justify;
    max-height: 550px; /* ajusta según sea necesario */
    overflow-y: auto; /* agrega la barra de desplazamiento vertical */
}

/* CSS PARA LA BARRA DE ARRIBA*/
#page-wrapper {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding-bottom: 1px;
}
#header-wrapper {
    padding: 4.5em 0 3em 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #aaa;
    padding: 20px;
    z-index: 100;
}
#header {
    margin: 0 auto;
}

/* Logo */

#logo span {
    display: block;
    margin: 0;
}

/* Nav */

#nav {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.9em;
}

    #nav ul {
        list-style: none;
        padding-left: 0;
    }

    #nav ul li {
        float: left;            
        line-height: 4.5em;
        padding-left: 1.5em;
    }

    #nav ul li a, #nav ul li span {
        -moz-transition: background-color .25s ease-in-out;
        -webkit-transition: background-color .25s ease-in-out;
        -ms-transition: background-color .25s ease-in-out;
        transition: background-color .25s ease-in-out;
        font-weight: 800;
        letter-spacing: 0.025em;
        color: black;
        text-decoration: none;
        border-radius: 6px;
        padding: 0.5em 1em 0.5em 1em;
    }

    #nav ul li > ul {
        display: none;
    }

    #nav ul li:hover a, #nav ul li:hover span {
        background: #fff;
    }

    #nav ul li.active a, #nav ul li.active span {
        background: #fff;
    }

    #nav ul li.current a {
        background: #444;
        color: #fff;
    }

.container {
margin: 0 auto;
max-width: 100%;
width: 1400px;
}

@media screen and (max-width: 1680px) {

.container {
    width: 1200px;
}

}

@media screen and (max-width: 1280px) {

.container {
    width: 960px;
}

}

@media screen and (max-width: 980px) {

.container {
    width: 90%;
}

}

@media screen and (max-width: 736px) {

.container {
    width: 100%;
}

}
